---
import Sidebar from "../components/Sidebar.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="canonical" content={Astro.url} />
    <meta name="generator" content={Astro.generator} />

    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="/images/foto.webp" />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content="/images/foto.webp" />

    <link rel="icon" type="image/svg+xml" href="/letter-l.svg" />
    <title>{title}</title>
  </head>
  <body class="bg-slate-100 dark:bg-zinc-900">
    <main class="relative w-full flex flex-col items-center overflow-hidden">
      <Header />
      <!-- Page Content -->
      <div class="w-full h-full flex items-center">
        <Sidebar />
        <section
          class="relative w-full flex flex-col items-center justify-center md:gap-12 gap-6 min-h-screen">
          <slot />
        </section>
      </div>

      <Footer />
    </main>
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Regular.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
  }

  body {
    font-family: "Poppins", sans-serif;
  }
</style>

<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();

  if (theme === "light") {
    document.documentElement.classList.remove("dark");
  } else {
    document.documentElement.classList.add("dark");
  }
  window.localStorage.setItem("theme", theme);
</script>
